.input-mini {
    width: 60px;
}

.input-mini-to-small {
    width: 75px;
}

.input-small {
    width: 90px;
}

.input-small-to-medium {
    width: 120px;
}

.input-medium {
    width: 150px;
}

.input-large {
    width: 210px;
}

.input-xlarge {
    width: 270px;
}

.input-xxlarge {
    width: 530px;
}

.margin-right-mini {
    margin-right: 5%;
}

.margin-right-mini-to-small {
    margin-right: 10%;
}

.margin-right-small {
    margin-right: 15%;
}

.margin-right-small-to-medium {
    margin-right: 20%;
}

.margin-right-medium {
    margin-right: 25%
}

.margin-right-large {
    margin-right: 30%;
}

.margin-right-xlarge {
    margin-right: 40%;
}

.margin-right-xxlarge {
    margin-right: 50%;
}

body {
    background-color: #fbfbfb;
}

.icon-menu {
    width: 24px;
    margin-right: 10px;
    vertical-align: middle;
}

.portal-color-white {
    color: #ffffff;
!important;
}

.portal-color-primary {
    color: #222 !important;
}

.portal-color-secundary {
    color: #BDF008 !important;
}

.a-menu-portal:hover {
    color: #BDF008 !important;
}

.portal-sair {
    margin-top: 15px
}

.content {
    float: left;
    padding-right: 5%;
    width: 100%;
}

.content > h1 {
    font-weight: 600;
}

.subTitulo {
    background: #f8f9f8;
    border: 1px solid #CDCDCD;
    height: 38px;
    padding: 8px 0 0 8px;
    width: 100%;
}

.subTitulo, .subTitulo div {
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.conteudoBreadCrumbs {
    height: 40px;
}

.conteudoBreadCrumbs .btPrincipalFora {
    display: inline-block;
    float: right;
    margin-top: 2px;
    max-width: 220px;
    min-width: 180px;
    text-align: center;
}

.conteudoBreadCrumbs .btSecundarioFora {
    float: right;
    height: 31px;
    margin: 2px 2px 0 0;
    width: 180px;
}

.conteudoBreadCrumbs .btSecundarioDentro {
    float: left;
    font-size: 12px;
    height: 30px;
    padding: 4px;
    text-align: center;
    width: 100%;
}

.conteudoBreadCrumbs .btPrincipalDentro {
    font-size: 14px;
    padding-top: 4px;
}

.breadCrumbs {
    width: 100%;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.degradeBreadCrumbs {
    /*background: url("../../img/admin_loja/degrade_topo.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);*/
    background: #f6f6f6;
    height: 15px;
    margin-top: -5px;
}

.faixaTopoBreadCrumbs {
    background: #f6f6f6;
    height: 15px;
    width: 100%;
}

.breadCrumbs .btPrincipalMeio, .breadCrumbs .btPrincipalDentro {
    height: 29px;
}

.breadCrumbs .btPrincipalFora {
    height: 31px;
}

.conteudoBreadCrumb {
    width: 100%;
}

.conteudoBreadCrumbs .botaoAcaoTopo {
    margin-top: 10px;
}

.breadCrumbAtual {
    color: #333 !important;
    font-size: 15px !important;
    font-weight: 600;
    letter-spacing: -1px;
    min-width: 80px;
    padding: 13px 0 0 10px;
}

span.breadCrumbAtual img {
    max-height: 17px;
}

.breadCrumbSemDestaque {
    background: url("../images/icons/divisor_min.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #C9C9C9;
    padding-left: 20px;
    color: #c9c9c9;
}

.menuBreadCrumb img {
    margin-top: -4px;
    max-height: 15px;
    margin-right: 5px;
    max-width: 15px;
}

.menuBreadCrumb {
    background: url("../images/icons/divisor_min.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    color: #7CB128;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-top: -7px;
    min-width: 110px;
    padding: 0 16px 0 15px;
}

.menuBreadCrumb a {
    color: #419641;
    /*text-decoration: underline;*/
}

.boxConteudo {
    padding-top: 12px;
}

.boxConteudoBloco {
    background: #fff;
    border: 1px solid #CDCDCD;
    border-top: none;
    margin-bottom: 20px;
    padding: 15px 8px;
}

.actions.btn-group > .btn.btn-default {
    height: 33px;
}

#main {
    display: flex;
}

.form-actions-button {
    margin-top: 20px;
}

.btn-new-form {
    float: left;
    margin-right: 10px;
}

.btn-edit-form {
    float: left;
    margin-right: 20px;
}

.search.form-group {
    width: 49% !important;
    float: inherit;
}

#grid-keep-selection-header {
    margin-bottom: 20px;
}

.actions.btn-group {
    float: right;
}

.btn-back {
    float: right;
}

.thumb {
    height: 75px;
    margin: 10px 5px 0 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#drop_zone {
    /*border: 2px dashed #bbb;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 41px;
    text-align: center;
    background: #fafafa url(../../resources/images/icons/empty.png) center center no-repeat;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
    margin-bottom: 20px;
}

.fileHidden {
    height: 15px;
    width: 0px;
    overflow: hidden;
}

.empty {
    background: #fafafa;
   /* url(../../resources/images/icons/empty.png) center center no-repeat;*/
}


.boxPhotos .photo {
    border: 1px dashed #e5e6e3;
    float: left;
    height: 50px;
    margin: 0 5px 5px 0;
    position: relative;
    text-align: center;
    width: 50px;
}

.boxPhotos .foto {
    float: left;
    height: 50px;
    margin: 2px;
    position: relative;
    text-align: center;
    width: 50px;
}

.boxPhotos .foto img {
    max-height: 50px;
    max-width: 50px;
}

.boxPhotos > .photo:first-child {
    height: 160px;
    float: none;
    display: block;
    margin-bottom: 5px;
    margin-right: 0;
    width: 160px;
}

.photo {
    display: -webkit-inline-box;
}
